<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sentry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sentry">
        <activity android:name=".SeeAnonymousTip" />
        <activity android:name=".MakeAnonymousTip" />
        <activity
            android:name=".HotelDetailPresent"
            android:label="Details"
            android:parentActivityName=".HotelInformation" />
        <activity android:name=".AnonymousTipActivity" />
        <activity android:name=".AwarenessArticleRegister" />
        <activity android:name=".ArticleUploadedShow" />
        <activity android:name=".AwarenessVideoRegister" />
        <activity android:name=".VideoUploadedshow" />
        <activity android:name=".HotelShow" />
        <activity android:name=".HotelRegistration" />
        <activity android:name=".HotelInformation" />
        <activity android:name=".SelfDefenseShow" />
        <activity android:name=".sde_video" />
        <activity android:name=".HotelInfo" />
        <activity android:name=".AwarenessCounselling" />
        <activity android:name=".SelfDefenseForm" />
        <activity android:name=".SelfDefense" />
        <activity android:name=".Database" />
        <activity android:name=".LawDetailActivity" />
        <activity android:name=".LawInfoActivity" />
        <activity android:name=".SendingLocation" />
        <activity android:name=".ContactAdder" />
        <activity android:name=".NearbyPlacesActivity" />
        <activity android:name=".FillContactsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR API KEY HERE" />

        <activity android:name=".HeatMap" />
        <activity android:name=".Dashboard" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>